# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/

# Ignore environment variable files
.env

coverage/

# Ignore IDE specific files
.vscode/
.idea/
*.iml